<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenida</title>
    </head>

    <body>
        <h1>Hola mundo!</h1>
        <img src="static/img/logocolor.png" ant="Logo Sancho Panza">
        <h2>Concurso de recetas 2022</h2>

        <h3>Panel de acceso</h3>
        <form action="/" method="post">
            <label for="email">Email</label><br>
            <input type="text" id="mail" name="email"><br>
            <label for="pass">Contraseña</label><br>
            <input type="password" id="pass" name="contra"><br>
            <input type="submit" value="Ingresar">
        </form>
    </body>
</html>