{% extends "baseTemplate.html" %}
{% block title %}Recetas por tiempo{% endblock %}
{% block content %}
    
    <h1>Recetas por tiempo</h1>
    <div>Recetas con un tiempo menor a {{ tiempo }} minutos</div>
    <table id="tablarecetastiempo">
        <thead>
            <tr>
                <th>Nombre receta</th>
                <th>Tiempo (minutos)</th>
            </tr>
        </thead>
        <tbody>
            {% for receta in recetas %}
            <tr>
                <td><a href="visorReceta/{{ receta.id }}">{{ receta.nombre }}</a></td>
                <td>{{ receta.tiempo }}</td>
            </tr>
            {% endfor %}
        </tbody>  
    </table>

{% endblock %}