{% extends "baseTemplate.html" %}
{% block title %}Ranking de recetas{% endblock %}
{% block content %}

    <h1>Ranking de recetas</h1>
        <table id="tabla">
            <thead>
                <tr>
                    <th>Nombre receta</th>
                    <th>Usuario</th>
                    <th>Cantidad de Me Gusta</th>
                </tr>
            </thead>
            <tbody>
                {% for receta in recetas %}
                <tr>
                    <td>{{ receta.nombre }}</td>
                    <td>{{ receta.usuario.nombre }}</td>
                    <td>{{ receta.cantidadmegusta }}</td>
                </tr>
                {% endfor %}
            </tbody>  
        </table>

{% endblock %}